@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 42 85% 95%;
        --foreground: 24 100% 14%;
        --card: 42 85% 95%;
        --card-foreground: 24 100% 14%;
        --popover: 42 85% 95%;
        --popover-foreground: 24 100% 14%;
        --primary: 28 50% 23%;
        --primary-foreground: 39 25% 74%;
        --secondary: 39 25% 71%;
        --secondary-foreground: 28 50% 23%;
        --muted: 39 25% 71%;
        --muted-foreground: 32 21% 35%;
        --accent: 39 25% 71%;
        --accent-foreground: 28 50% 23%;
        --destructive: 38 50% 59%;
        --destructive-foreground: 39 25% 74%;
        --border: 36 7% 68%;
        --input: 36 7% 68%;
        --ring: 24 100% 14%;
        --radius: 1rem;
    }

    .dark {
        --background: 24 100% 14%;
        --foreground: 39 25% 74%;
        --card: 24 100% 14%;
        --card-foreground: 39 25% 74%;
        --popover: 24 100% 14%;
        --popover-foreground: 39 25% 74%;
        --primary: 39 25% 74%;
        --primary-foreground: 28 50% 23%;
        --secondary: 28 33% 28%;
        --secondary-foreground: 39 25% 74%;
        --muted: 28 33% 28%;
        --muted-foreground: 50 19% 61%;
        --accent: 28 33% 28%;
        --accent-foreground: 39 25% 74%;
        --destructive: 37 73% 61%;
        --destructive-foreground: 39 25% 74%;
        --border: 28 33% 28%;
        --input: 28 33% 28%;
        --ring: 28 24% 71%;
    }
}




